.form {
  display: grid;
  grid-template-columns: 1fr 500px;
  column-gap: 6%;

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
}

.wrapper {
  @media screen and (max-width: 1023px) {
    margin-bottom: 36px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
}

.purpose {
  margin-bottom: 27px;

  @media screen and (max-width: 767px) {
    margin-bottom: 17px;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 26px;

  @media screen and (max-width: 1023px) {
    font-size: 18px;
    margin-bottom: 23px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 18px;
  }
}

.select {
  margin-bottom: 9px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 16px;
    margin-bottom: 7px;
  }

  &_error {
    border: 1px solid #eb3737;
  }
}

.price {
  position: relative;
}

.caption {
  margin-top: -5px;
  margin-bottom: 12px;
}

.text {
  font-size: 14px;
  margin-bottom: 28px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 18px;
  }
}

.slider {
  margin-bottom: 30px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 26px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 22px;
  }
}

:global(.rc-slider-dot) {
  display: none;
}

:global(.rc-slider-mark-text) {
  font-size: 14px;
}

.button {
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  top: 42px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    cursor: pointer;
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &_minus {
    background-image: url('../../assets/img/minus.svg');
    left: 17px;
  }

  &_plus {
    background-image: url('../../assets/img/plus.svg');
    right: 17px;
  }
}

.error {
  position: absolute;
  color: #eb3737;
  right: 0;
  top: -5px;
}
